.background {
  color: $color-background;
  display: table;
  margin: 20px 0;
  width: 100%;

  .container {
    display: table-cell;
    padding-bottom: 20px;
    vertical-align: bottom;

    h1 {
      color: $yellow;
      font-family: $font-main;
      font-size: 5rem;
      line-height: 105%;
      margin-bottom: 0;
      padding: 0 10%;
    }

    p {
      margin-top: 0;
      padding: 0 10%;
    }
  }
}

.jumbotron {
  @include backimage('../images/mascaloona.jpg', 600px);
  margin-top: 0;
}

.bridge {
  @include backimage('../images/supernova.png',
  300px);
}
