$color-item-border: $red;
$color-media-head: $blue;


.media {
  list-style: none;
  margin: 0;
  padding: 0;

  .item {
    @include clearfix;
    border-top: 1px dotted $color-item-border;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;

    &:hover {
      background: $yellow;
    }

    &:last-of-type {
      border-bottom: 1px dotted $color-item-border;
    }

  }


  .head {
    margin: 0;
    padding: 0;
    color : $color-media-head;
    font-size: 1.5rem;
    #typography & {
      color : $red;
    }
  }

  p {
    margin: 0;
    font-size: 1.5rem;
  }

  img {
    float: left;
    margin-right: 10px;
  }

  a {
    text-decoration: none;
    color: $color-main;
  }

}