@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Josefin+Slab|Merriweather');

$font-main: 'Merriweather', 'Helvetica';
$font-highlight: 'Bree Serif', 'Helvetica';

$offwhite: #EEE8D6;
$darkblue: #022933;
$yellow: #FFBA00;
$blue: #0076A3;
$green: #548C27;
$orange: #F39856;
$red: red;
$purple: #6D73C2;

$color-main: $darkblue;
$color-background: $offwhite;
$color-headline: $red;
